.hand-tracking-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.video-container {
    width: 100%; /* Adjust this to fit your layout */
    height: 0; /* This will be determined by the aspect ratio */
    padding-bottom: 56.25%; /* Aspect ratio for 16:9 */
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

 video {
    max-width: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
  
.hand-tracking-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container video{
    position: relative;
}

.prediction-container {
    margin-top: 10px;
    font-size: 20px;
    color: #f3f3d6;
}

.sentence {
    margin-top: 10px;
    font-size: 20px;
    color: #f3f3d6;
}
