@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Global styles */
body, html {
  margin: 0;
  padding: 0 4rem;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #ffffff; /* Light color for text on dark backgrounds */
  background-color: #7031D8; /* Primary color */
}

.mainContainer {
  color: #ffffff; /* Ensure text is readable on the primary background */
}

.welcomeSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #7031D8;
  color: white;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.iconsContainer, .logo {
  color: #7ED957; /* Accent color for contrast and emphasis */
  display: flex;
  gap: 30px;
}

.icon:hover {
  color: #7ED957; /* Change to the highlight color you want */
  cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
  transform: scale(1.1); /* Optional: Slightly enlarges the icon on hover */
  transition: transform 0.2s, color 0.2s; /* Smooth transition for the transform and color change */
}

.scrollIndicator {
  position: absolute;
  bottom: 20px;
  animation: bounce 2s infinite;
}


h1 {
  font-size: 4rem; /* Adjust as needed */
  margin: 0; /* Reset default margin */
  padding: 0; /* Ensure no padding is pushing the content */
  /* Adjust font-weight and line-height as needed for design */
  font-weight: bold;
  line-height: 1.1;
}

h3 {
  font-size: 2rem; /* Adjust as needed */
  margin: 0; /* Reset default margin */
  padding: 0; /* Ensure no padding is pushing the content */
  /* Adjust font-weight and line-height as needed for design */
  font-weight: bold;
  line-height: 1.1;
}

p {
  margin-top: 1rem; /* Adjust the space above the p as needed */
  margin-bottom: 2rem; /* Provide some space above the arrow */
}

.getStartedSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7031D8; /* Keep the primary color or adjust as desired */
  color: white; /* For better readability */
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap if needed */
  align-items: center; /* Center items vertically */
  gap: 20px; /* Adds space between the text content and button container */
}

.textContent {
  display: flex;
  flex-direction: column; /* Stack h1 and p on top of each other */
  justify-content: center; /* Adjust if needed */
  max-width: 60%; /* Adjust based on your design preference */
}

.getStartedSection h1 {
  width: 60%; /* h1 takes 70% of the container width */
}

.buttonContainer {
  display: flex;
  flex-direction: column; /* Stack buttons on top of each other */
  align-items: center; /* Center buttons in the container */
  gap: 20px; /* Adds space between the buttons */
}

/* Style for all buttons within .buttonContainer */
.buttonContainer button {
  background-color: #7ED957; /* Accent color */
  color: #7031D8; /* Primary color for button text */
  border: none;
  padding: 15px 30px; /* Bigger padding for larger buttons */
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 25px; /* Rounded shape for buttons */
  font-size: 1rem; /* Adjust as needed */
  min-width: 200px; /* Ensures all buttons have the same width */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a slight shadow for depth */
}

.buttonContainer button:hover {
  background-color: #A885D8; /* Secondary color for hover effect */
}

.floatingButton {
  position: fixed; /* Stay in place regardless of scrolling */
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  background-color: #7ED957; /* Example background color */
  color: #FFF; /* Text color */
  border: none;
  border-radius: 50%; /* Circular shape */
  width: 50px; /* Button size */
  height: 50px; /* Button size */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Shadow for depth */
  font-size: 24px; /* Adjust icon size if using text or font icon */
  display: flex; /* Center the content */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  z-index: 1050; /* Ensure it's above the chat box */
}

.chatBox {
  position: fixed;
  bottom: 100px; /* Adjust based on floating button's position */
  right: 30px;
  width: 300px; /* Or any size you prefer */
  padding: 20px;
  background-color: white;
  color: black; /* Adjust text color as needed */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
  z-index: 1050; /* Make sure it's above other content */
}

.chatBox-visible {
  transform: scale(1);
  opacity: 1;
}

/* Reusable button styles */
.reusable-button-style {
  background-color: #7ED957; /* Accent color */
  color: #7031D8; /* Primary color for button text */
  border: none;
  padding: 15px 30px; /* Bigger padding for larger buttons */
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 25px; /* Rounded shape for buttons */
  font-size: 1rem; /* Adjust as needed */
  min-width: 200px; /* Ensures all buttons have the same width */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a slight shadow for depth */
}

.reusable-button-style:hover {
  background-color: #A885D8; /* Secondary color for hover effect */
}

.button-center {
  display: flex;
  justify-content: center; /* Horizontally centers the button */
  width: 100%; /* Ensures the wrapper extends full width of its parent */
  margin-top: 20px; /* Optional: adds some space between the text and the button */
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* HandTrackingScreen Specific */
.hand-tracking-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.headerHandTracking {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.tutorial-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}


.headerTutorial {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}



.main-content {
  display: flex;
  width: 100%;
  flex-grow: 1;
  margin-top: 2rem;
}

.menu-container, .video-container {
  /* Adjust padding as needed to avoid content being flush against the screen edge */
  padding: 0.5rem;
}

.menu-container {
  padding-right: 10rem;
}

.video-container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-left: 5rem;
}

.menu-container {
  flex: 0 1 30%; /* flex-grow, flex-shrink, flex-basis */
  max-height: 480;
  padding: 0 2rem; /* Optional: adds some space inside the container */
  /* Additional styling for the menu container */
}

.video-container {
  flex: 0 1 70%; /* flex-grow, flex-shrink, flex-basis */
  /* flex-basis: 60%; Another way to set initial width */
  /* Ensure it doesn't grow beyond 60%, can shrink if needed */
  padding: 0 2rem; /* Optional: adds some space around the video */
  /* Your existing video container styles */
}


video {
  max-width: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
